@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --Yellow: #FFD15B;
}



.title_search_bar {
  color: var(--Yellow);
  font-family: 'Anton', sans-serif;
  font-size: 44px;
  font-style: normal;
  line-height: normal;
}

#sortbox2:checked ~ #sortboxmenu2 {
  opacity: 1;
}

#sortbox1:checked ~ #sortboxmenu1 {
  opacity: 1;
}

#ustensilsButton, #ustensilsMenu, .action-Ustensiles {
  width: 180px; /* largeur dropdown et du bouton*/
}

#searchInputUST {
  border: #C6C6C6 1px solid;
  margin-right: -40px;
}

#searchInputAPP {
  border: #C6C6C6 1px solid;
  margin-right: -40px;
}

#searchInputING {
  border: #C6C6C6 1px solid;
  margin-right: -40px;
}

#ustensilsMenu {
  background-color: white;
  border-radius: 0px 0px 11px 11px;
  margin-top: -11px;
}

#appareilsMenu {
  background-color: white;
  border-radius: 0px 0px 11px 11px;
  margin-top: -11px;
}

#ingredientsMenu {
  background-color: white;
  border-radius: 0px 0px 11px 11px;
  margin-top: -11px;
}


#ustensilsButton {
  border-radius: 11px;
  background-color: rgb(255, 255, 255);
  padding: 10px 16px;
}

#appareilsButton {
  border-radius: 11px;
  background-color: rgb(255, 255, 255);
  padding: 10px 16px;
}

#ingredientsButton {
  border-radius: 11px;
  background-color: rgb(255, 255, 255);
  padding: 10px 16px;
}

.show-dropdown {
  opacity: 1 !important;
  visibility: visible !important; 
  transform: translateY(0) !important; 
  transition-delay: 0s !important; 
}


.dropdown-open ul li a {
  pointer-events: auto;
  cursor: pointer; 
}

/* Styles pour les liens de tous les dropdowns lorsque aucun dropdown n'est ouvert */
body:not(.dropdown-open) ul li a {
  pointer-events: none;
  cursor: default; 
}


.tagButton {
  border-radius: 11px;
  background-color: #FFD15B;
  padding: 10px 16px;
}

.selected-tags-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
}

.tag-container {
  display: inline-flex; 
  align-items: center; 
  gap: 2px;
}

.remove-tag-btn {
  margin-left: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  z-index: 10;
}

.remove-tag-btn svg {
  fill: #000;
  position: relative;
}



.remove-tag-btn:hover svg {
  fill: #555;
}

.remove-tag-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}







